.nav-menu {
	flex-grow: 0;
	background-color: #44318d;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 1em 10em;
	padding: 0.4em 1em;
	border-radius: 12px;
}

.nav-tab {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.left {
	flex-shrink: 2;
}
.right {
	flex-shrink: 1;
}

.nav-item {
	padding: 1.3em 1em 1.1em 1em;
}
.nav-item:hover {
	background-color: #302268;
	border-bottom: 4px solid #302268;
}

.user-icon {
	font-size: 2em;
	cursor: pointer;
}
